<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<class="header">
	<!--<h2>Header</h2>-->
	<table class="topTbl">
		<tr><td class="topTd"><img class="topImg" th:src="@{/img/ci.png}" width="20px">&nbsp;Datasolution Groupware
		</td></tr></table>
		<table class="iconTbl"><tr>
			<td><img class="topImg" th:src="@{/img/email.png}" width="20px"></td>
			<td><img class="topImg" th:src="@{/img/stamp.png}" width="20px"></td>
			<td><img class="topImg" th:src="@{/img/list.png}" width="20px"></td>
			<td><img class="topImg" th:src="@{/img/message.png}" width="20px"></td>
			</tr></table>
			
	
		<input class="topInput" placeholder="통합검색">
		<button type="button" class="inputBtn"><img class="btnImg" th:src="@{/img/loupe1.png}"></button>
	
			
	<table class="ciTbl"><tr><td class="ciTd">
	
	<img class="ciImg" th:src="@{/img/cici.png}" width="220px">
	</td></tr></table>
	
</div>
</html>
